<h1>Angular Components</h1>
<app-login></app-login>

<h2>Hello Heading 1</h2>
<app-login></app-login>

<h2>Hello Heading 2</h2>
<app-signup></app-signup>

<app-profile></app-profile>
<hr>

<!--Wednesday 3-Dec-->
<h1>Function Call On Button Click</h1>

<button (click)="handelClickEvent()">Click Me</button>

<h1>Define Data Type</h1>
<button (click)="sum(10,20)">Sum</button>
<hr>

<!--Counter App-->

<h1 style="padding: 2px; text-align: center;">Counter App</h1>
<div style="text-align: center;">
    <h2 class="count">{{count}}</h2>
    <div>
        <button (click)="handelCounter('minus')" class="btn bg-red">Decrement</button>
        <button (click)="handelCounter('reset')" class="btn bg-black">Reset</button>
        <button (click)="handelCounter('plus')" class="btn bg-green">Increment</button>
    </div>
</div>
<hr>
<!--Event In Angular-->
<h1 style="padding: 2px; text-align: center;">Event In Angular</h1>
<button class="bttn" name="login" (click)="handelEvent($event)">Click Event</button>

<br>
<br>
<div
(mouseenter)="handelEvent($event)"
style="background-color: green; width: 100px;height: 100px;">

</div>

<div
(mouseleave)="handelEvent($event)"
style="background-color: blue; width: 100px;height: 100px;">

</div>

<br>
<br>
<input type="text"
(focus)="handelEvent($event)"
(input)="handelEvent($event)"
(blur)="handelEvent($event)"
name="user" >
<hr>


<!--Get and Set Input Field Value-->
<!--Get and Set Input Field Value-->
<h1 style="padding: 2px; text-align: center;">Get and Set Input Field Value</h1>
<h1>User Name Is: {{displayName}}</h1>

<input 
  type="text" 
  [value]="mynname" 
  (input)="getName($event)" 
  placeholder="Enter User name">

<br><br>

<button (click)="showName()">Get Value</button>
<button (click)="setName()">Set Name</button>

<br><br>

<h1>User Name Is: {{mynname}}</h1>
<hr>
<h1>Email : {{email}}</h1>
<input type="text" value="{{email}}" placeholder="enter email" #emailField>
<button (click)="getEmail(emailField.value)">Get Email</button>
<button (click)="setEmail()">Set Email</button>
<hr>


<!--Style Option and Rules-->
<h3 >Style Option and Rules</h3>

<app-style-rules></app-style-rules>

<style>
  h2 {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
  }
</style>

<!--Line Line CSS Style-->

<h2 style="color: purple; text-align:center">Line Line CSS Style</h2>

<!--If Else | Control Flow-->

<hr>
<h1 style="padding: 2px; text-align: center;"> If Else | Control Flow</h1>

<button style="width: 10vw;height:5vh" (click)="hide()">Hide Div</button>
<button style="width: 10vw;height:5vh" (click)="show()">Show Div</button>
<button (click)="toggle()">Toggle Dev</button>
@if(display){
<div style="width: 200px;height: 200px; background-color:purple"></div>
}

<br>

<button (click)="toggleTwo()">{{toggleDiv?'show red':'show gold div'}}</button>

@if (toggleDiv){
<div style="background-color:gold; width:200px;height:200px">First Div</div>
}
@else {
  <div style="background-color:red; width:200px;height:200px">Second Div</div>
}


<hr>


<!--Else-If Condition | Control Flow-->

<h1 style="padding: 2px; text-align: center;"> Else If | Control Flow</h1>

<button (click)="handelColor(1)">Red</button>
<button (click)="handelColor(2)">Green</button>
<button (click)="handelColor(3)">Orange</button>
<button (click)="handelColor(10)">other</button>
<input type="text" (input)="handelInput($event)" placeholder="Enter Color Number">

@if(color===1){
  <div style="background-color:red; width:100px; height:100px"></div>
}
@else if(color==2){
  <div style="background-color:green; width:100px; height:100px"></div>
}
@else if(color==3){
  <div style="background-color:orange; width:100px; height:100px"></div>
}
@else {
  <div style="background-color:black; width:100px; height:100px"></div>
}

<hr>
<!--Switch Case In Angular 19-->
<h1 style="padding: 2px; text-align: center;">Switch Case In Angular 19</h1>
<button (click)="handelcolorr('red')">Red</button>
<button (click)="handelcolorr('green')">Green</button>
<button (click)="handelcolorr('yellow')">Yellow</button>
<button (click)="handelcolorr('blue')">Blue</button>
<button (click)="handelcolorr('gold')">Gold</button>
<input type="text" placeholder="enter color" (input)="changecolor($event)">

@switch(colorr){
  @case('red'){
    <h1 style="background-color:red">Red Color</h1>
  }
  @case('green') {
    <h1 style="background-color:green">Green Color</h1>
  }
  @case('yellow') {
    <h1 style="background-color:yellow">Yellow Color</h1>
  }
  @case('blue') {
    <h1 style="background-color:blue">Blue Color</h1>
  }
  @default {
    <h1 style="background-color:black;color:white">No Color Match</h1>
  }

}

<hr>
<!--For Loop In Template File-->
<h1 style="padding: 2px; text-align: center;">For Loop In Template File</h1>

@for (user of users; track user) {
  <h2>{{ user }}</h2>
}

<br>
<br>
@for (student of students; track student.name)  {
  <h2>
  
    <span>{{ student.name }}</span> 
    <span>{{ student.age }}</span> 
    <span>{{ student.email }}</span>
    <button (click)="getNamee(student.name)">Get Name</button>
  </h2>
}

<hr>
<!--Basics Of Signal-->
<h1 style="padding: 2px; text-align: center;">Basics Of Signals</h1>


<h1>{{countt()}}</h1>
<h1>{{s}}</h1>

<button (click)="updateValue('inc')">Update Value</button>

<button (click)="countt.set(100)">Increase Signal</button>

<br>
<br>
<h1>Overview Of Signals Increment/Decrement</h1>

<button (click)="updateValue('dec')">Decrement</button>
<h1>{{countt()}}</h1>
<button (click)="updateValue('inc')">Increment</button>

<hr>

<!--Data type with signals-->
<h1 style="padding: 2px; text-align: center;">Data type with signals</h1>
<h2>{{dataa()}}</h2>
<!--<h2>{{ccount}}</h2>-->
<button (click)="updateSignal()">Update Data</button>

<hr>
<!--Computed Signals-->
<h1 style="padding: 2px; text-align: center;">Computed Signals</h1>
<h1>{{ z() }}</h1>
<button (click)="showValue()">showValue</button>
<button (click)="updateX()">updateX</button>

<hr>




















